body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #2a9d8f;
}

header,
nav,
footer {
  background-color: #e9c46a;
  padding: 10px;
}

.container {
  width: 80%;
  margin: auto;
}

.section {
  margin-bottom: 20px;
}
