* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playwrite CU', sans-serif;
}

body {
  font-size: 16px;
  background: rgb(207, 14, 14);
  background: radial-gradient(
    circle,
    rgba(207, 14, 14, 1) 0%,
    rgba(105, 7, 7, 1) 0%,
    rgba(0, 0, 0, 1) 86%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  min-height: 20rem;
  color: white;
  font-weight: normal;
  font-style: italic;
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 1rem;
  background: rgb(207, 14, 14);
  background: linear-gradient(
    180deg,
    rgba(207, 14, 14, 1) 42%,
    rgba(253, 198, 29, 1) 69%,
    rgba(0, 0, 0, 1) 86%
  );
  font-size: 20px;
}

.logo {
  margin-top: 0;
  font-weight: bold;
}

.logo span {
  font-size: 25px;
}

.menu nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.button-01 {
  margin-top: 0;
  align-items: center;
}

button {
  color: aliceblue;
  width: 80px;
  padding: 5px;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #000000;
  cursor: pointer;
}

button:hover {
  background-color: #cf0e0e;
  color: #000000;
  background: linear-gradient(
    180deg,
    rgba(207, 14, 14, 1) 42%,
    rgba(253, 198, 29, 1) 69%,
    rgba(0, 0, 0, 1) 86%
  );
  -webkit-box-shadow: 0px 0px 5px 11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 11px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 11px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in;
}

.wf1 fieldset {
  margin: 2rem 0;
  padding: 0.5rem 2%;
  border: none;
}

.wf1 legend,
div {
  text-align: center;
}

.tittle {
  max-width: 400px;
}

.wf1 legend {
  margin-left: -55px;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}

.wf1 div {
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 400px;
}

.wf1 input[type='text'],
.wf1 input[type='date'],
.wf1 input[type='tel'],
.wf1 input[type='email'],
.wf1 select,
.wf1 input[type='number'],
.wf1 textarea {
  background-color: #000000;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 400px;
  margin: 3px 0px 10px 0px;
  appearance: none;
}

.wf1 input[type='checkbox'] {
  margin-right: 6px;
}

star {
  color: #cf0e0e;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
}

.radio label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

.rating input[type='radio'] {
  display: none;
}

.wf1 input[type='submit'] {
  margin: 1 2% 2rem 2%;
  width: 96%;
  max-width: 400px;
  padding: 0.8rem;
  border-radius: 6px;
  background-image: linear-gradient(#cf0e0e, #6f200e);
  max-width: 400px;
  font-size: large;
  border: none;
}

.wf1 input:required {
  border-bottom: 4px solid red;
}

.wf1 input:required:valid {
  border-bottom: 4px solid green;
}

footer {
  background: #a51616;
  padding: 20px;
  text-align: center;
  margin: 0;
  width: 100%;
}

footer p {
  color: #eaeaff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}